.retoques {
  background-color: #0179b7 !important;
}

.container-padre-navbar {
  display: flex;
  justify-content: start !important;
  margin: 0 !important;

  a {
    color: white !important;
  }
}
